<ion-item *ngIf="student" [routerLink]="'/student/' + student.id" [detail]="false">
  <!-- <div slot="start" [class]="!student.read ? 'dot dot-unread' : 'dot'"></div> -->
  <ion-avatar slot="start">
    <ion-icon name="person"></ion-icon>
  </ion-avatar>
  <ion-label class="ion-text-wrap">
    <h2>
      {{ student.studentName }}
      <span class="date">
        <ion-note>{{ student.controlNumber}}</ion-note>
        <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </h2>
    <h3>{{ student.career }}</h3>
    <p>
      Semestre: {{ student.semester}}
    </p>
    <p>Grupo: {{ student.group }}</p>
  </ion-label>
  </ion-item>